---
layout: base.njk
title: Page non trouvée
permalink: /fr/404.html
noindex: true
---
<h1>Page non trouvée</h1>
<p>La page que vous cherchez n'existe pas ou a été déplacée.</p>
<p><a href="/fr/">Retour à l'accueil</a></p>
