---
layout: base.njk
title: Error del servidor
permalink: /es/500.html
noindex: true
---
<h1>Error del servidor</h1>
<p>Ocurrió un error. Por favor, inténtalo más tarde.</p>
<p><a href="/es/">Volver al inicio</a></p>
