---
layout: base.njk
title: Erreur serveur
permalink: /500.html
noindex: true
---
<h1>Erreur serveur</h1>
<p>Une erreur est survenue. Veuillez réessayer plus tard.</p>
<p><a href="/">Retour à l'accueil</a></p>
